package {{ package }};

{{#imports}}
    import {{package}};
{{/imports}}
public interface {{interfaceName}} extends {{repositoryType}}<{{entity}}, {{entityId}}> {
{{#wrapped}}
    {{{package}}} is awesome.
{{/wrapped}}
}
